.nav_bar_active{
    background-color: #c2d4dd ;
}

.nav_bar_disabled{
    background-color: #c2d4dd6e ;
}

body {
    background-color: #fffffff3;
}

h1 {
    margin-left: 2em;
    margin-top: 2em;
}

h2 {
    margin-left: 1em;
    padding-top: 1em;
}

form {
    padding-right: 60%;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-top: 0;
}

.form-control, .form-select{
    margin-bottom: 1em;
}

.search-box{
    width: 30%;
    margin-right: 2em;
}

.tab-pane{
    background: #c2d4dd;
    border-radius: 20px;
    border-top-left-radius: 0;
}

.table-responsive{
    padding: 0;
    padding-top: 0;
    padding-right: 2em;
    padding-left: 2em;
}

.btn-danger{
    margin-left: 3px;
}

.admin_error{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

.navbar{
    background-color: #c2d4dd;
}

.tab_bar_container{
    margin: 3em;
}

