<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <title>Ripetizioni</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/nav-foot.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body >

<div id="vue-nav">
    <mynav />
</div>
<div id="utente">
    <h1 v-if="!isGuest" class="page-title text-center d-lg-flex justify-content-lg-center">Benvenuto {{nome}} {{cognome}}!</h1>
    <h1 v-if="isGuest" class="page-title text-center d-lg-flex justify-content-lg-center">Benvenuto ospite!</h1>
</div>
<div class="page-content">
<div id="materie" class="container section" >
    <h4 class="text-start">Seleziona una materia per cominciare:</h4>
    <div v-if="materie.length > 0" class="row">
        <materia v-for="materia in materie" :key="materia.key" :id="materia.key" :name="materia.text"></materia>
    </div>
    <div v-if="materie.length == 0" class="materie-placeholder">
        Non ci sono corsi con ripetizioni disponibili al momento, prova a controllare più tardi.
    </div>
</div>

<div id="notify">
    <div class="modal fade" role="dialog" tabindex="-1" id="modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" >
                    <h4 class="modal-title">{{modal.title}}</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    <p>{{modal.message}}</p>
                </div>
                <div class="modal-footer"><button v-on:click="closeModal()" class="btn btn-success" type="button" >Ok</button></div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="vue-foot">
    <myfoot />
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/home.js"></script>
<script src="assets/js/nav_footer.js"></script>

</body>

</html>