<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div id="modal">
    <modal_component ref="childref" :no="false" :yes="false" :ok="true" :login="false"></modal_component>
    <button type="button" class="btn btn-primary" v-on:click="show()">
        Launch demo modal
    </button>
</div>

<!--
<div id="modal">
<div class="modal fade" role="dialog" tabindex="-1" id="mymodal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #c2d4dd6e;">
                <h4 class="modal-title">{{title}}</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background: #c2d4dd6e;">
                <p>{{message}}</p>
            </div>
            <div class="modal-footer" style="background: #c2d4dd6e;">
                <button v-if="no" class="btn btn-danger" type="button" >No</button>
                <button v-if="yes"  class="btn btn-success" type="button" >Si</button>
                <button  v-if="ok" class="btn btn-success" type="button" >Ok</button>
                <button  v-if="login" class="btn btn-link" type="button"  onclick="alert('vado al login')">Log in</button></div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" v-on:click="show()">
    Launch demo modal
</button>
-->
</div>

<script src="assets/js/modal.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>